.container-about-company {
    padding: 100px 90px;
}

.text-about-company {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;

    text-transform: uppercase;

    color: $primary2;
}

.line-k {
    color: $primary3;
}

.text-razkaz {
    position: relative;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    color: $primary2;
    z-index: 2;
}

.foto-about-company {
    position: relative;
    margin-top: -150px;
    margin-left: -150px;
    background-image: url(/img/about-company.png);
    width: 647.07px;
    height: 632.97px;
    z-index: 1;
}





/**/