.cooperation-text {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;

    text-align: center;
    text-transform: uppercase;

    color: $primary2;
}

.cooperation-text-title {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 45px;

    text-align: center;
    text-transform: uppercase;

    color: $primary2;
}



.cooperation-info {
    grid-template-columns: 600px 600px ;
    display: grid;
    justify-content: center;
}

.cooperation-info-text {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: $primary2;
    margin: 20px;

}




.cooperation-pogruzka {
    margin: 20px;

    background-image: url(/img/pogruzka.png);
    max-width: 555px;
    min-height: 406px;
    background-repeat: no-repeat;
}

.cooperation-delivery {
    margin: 20px;

    background-image: url(/img/delivery2.png);
    max-width: 555px;
    min-height: 406px;
    background-repeat: no-repeat;
}