.container-o-kompanii {
    padding: 100px 90px;
}

.text-kompanii {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;

    text-transform: uppercase;

    color: $primary2;
}

.line-k {
    color: $primary3;
}

.text-razkaz {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    color: $primary2;
}

.fotokompanii {
    background-image: url(/img/okompaniii.png);
    width: 647.07px;
    height: 632.97px;
}






/**/