//variables переменные 
$primary1: #E58D35;
$primary2: #ffffff;
$primary3: #89C249;

$title-text-color: #ffffff;
$subtitle-text-color: #FFFFFF;
$footer-text-color: #85899C;

a {
    text-decoration: none;
    color: $subtitle-text-color;

    &:hover {
        color: $primary1;
    }
}
$fon: #6A6A6A;





.btn-menu {
    width: 171px;
    height: 50px;
    color: #fff;
    background-color: $primary1;
    border-color: $primary1;
    border-radius: 20px;
}

.btn-menu:hover {
    color: #fff;
    background-color: $primary3;
    border-color: $primary3;
}

.btn-check:focus+.btn-menu,
.btn-menu:focus {
    color: #fff;
    background-color: #e7873d;
    border-color: #e7873dc0;
    box-shadow: 0 0 0 0.25rem #e7873dc0;
}

.btn-check:checked+.btn-menu,
.btn-check:active+.btn-menu,
.btn-menu:active,
.btn-menu.active,
.show>.btn-menu.dropdown-toggle {
    color: #fff;
    background-color: #e7873d;
    border-color: #e73d3dc0;
}

.btn-check:checked+.btn-menu:focus,
.btn-check:active+.btn-menu:focus,
.btn-menu:active:focus,
.btn-menu.active:focus,
.show>.btn-menu.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem #e73d3dc0;
}

.btn-menu:disabled,
.btn-menu.disabled {
    color: #fff;
    background-color: #e7873d;
    border-color: #e7873dc0;
}

.btn-carusel {
    width: 293px;
    height: 68px;
    color: #fff;
    background-color: $primary1;
    border-color: $primary1;
    border-radius: 35px;
}

.btn-carusel:hover {
    color: #fff;
    background-color: $primary3;
    border-color: $primary3;
}

.btn-check:focus+.btn-carusel,
.btn-carusel:focus {
    color: #fff;
    background-color: #e7873d;
    border-color: #e7873dc0;
    box-shadow: 0 0 0 0.25rem #e73d3dc0;
}

.btn-check:checked+.btn-carusel,
.btn-check:active+.btn-carusel,
.btn-carusel:active,
.btn-carusel.active,
.show>.btn-carusel.dropdown-toggle {
    color: #fff;
    background-color: #e7873d;
    border-color: #e7873dc0;
}

.btn-check:checked+.btn-carusel:focus,
.btn-check:active+.btn-carusel:focus,
.btn-carusel:active:focus,
.btn-carusel.active:focus,
.show>.btn-carusel.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem #e73d3dc0;
}

.btn-carusel:disabled,
.btn-carusel.disabled {
    color: #fff;
    background-color: #e7873d;
    border-color: #e7873dc0;
}